<section id="main-container" ng-controller="amazonDataController">
  <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">amazoncompare</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class=""><a href="#">Wishlist</a></li>
          <li class="logout"><a href="#" ng-click="logoutUser()">Log Out</a></li>
        </ul>
      </div>
    </div>
    <div class="sub-nav-search" ng-show="showSearch">
      <div class="search-container">
        <div>
          <select class="form-control" ng-options="index.value as index.value for index in searchIndices" ng-model="searchIndex">
          </select>
        </div>
        <div class="searchInput">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" ng-model="keyword"/>
            <span class="input-group-addon">
              <i ng-show="!showLoader" type="submit" ng-click="getInfo(keyword, searchIndex)" class="glyphicon glyphicon-search"></i>
              <img ng-show="showLoader" class="loader-nav" src="../styles/images/orangegif.gif" />
            </span>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div id="tf-home" class="text-center">
    <div class="overlay">
      <div class="content">
        <h1 style="color: white">Welcome to <strong><span class="color">amazonCompare</span></strong></h1>
        <p class="lead">This app compares the <strong style="color: #FCAC45">top 5 products</strong> from your search to help find the <strong style="color: #FCAC45">best product for you</strong></p>
        <form method="get">
          <fieldset>
            <input type="text" ng-model="keyword" />
            <button ng-show="!showLoader" type="submit" ng-click="getInfo(keyword, searchIndex)"><i class="fa fa-search"></i></button>
            <img ng-show="showLoader" class="loader" src="../styles/images/orangegif.gif" />
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <div id="tf-about">
    <div class="container">
      <div class="row">
        <bar-chart data-toggle="modal" data-target="#myModal" login-check="loginCheck" data="barChartData" modal-data="modalData"></bar-chart>
      </div>
    </div>
  </div>
  <div ui-view></div>

</section>

<modal data="productData"></modal>
