<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span style="position: absolute; left: 90px; top: -5px;" aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{modalData.title}}</h4>
      </div>
      <div class="modal-body">
        <div class="top-container">
        <div class="image-price-container">
          <div class="image-container">
            <img class="product-image" src="{{modalData.largeImage}}" /> </br>
          </div>
          <div class="price-tag">
            Price: ${{modalData.price[1].value}}
          </div>
        </div>
        <div class="description-text">
          {{modalData.description}}
        </div>
      </div>
        <div class="">
          <ol ng-repeat="item in features track by $index">
            <li>{{item}}</li>
            <ol>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        <button class="btn btn-primary" style="width: 80px" ng-click="saveProduct()"><span class="glyphicon glyphicon-shopping-cart"></span></button>
      </div>
    </div>
  </div>
</div>
