/*modal styles*/
.modal-footer {
padding: 15px;
text-align: right;
border-top: 1px solid #e5e5e5;
display: flex;
justify-content: flex-end;
}
.modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: 5px;
    width: 100px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    width: 110px;
}
.top-container {
  display: flex;

}
.image-price-container {
  height: 233px;
  width: 200px;
}
.image-container {
  height: 200px;
  width: 200px;
}
.product-image {
  height: 200px;
  width: 200px;
  float: left;
}
.price-tag {
  width: 100px;
  height: 30px;
  margin-left: 50px;
}
.description-text {
  line-height: 20px;
  margin-left: 10px;
}


/*body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
  margin-right: 0;
}

.modal {
  left: 50%;
  bottom: auto;
  right: auto;
  z-index: 1050;
  padding: 0;
  width: 500px;
  margin-left: -250px;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
}

.modal.container {
  max-width: none;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
}*/
